.btn-booking {
    display: block;
    background: #ff6e40;
    border: none;
    padding: 5px 0;
    width: 100%;
    color: white;
    font-size: 20px;
    border-radius: 5px !important;
    margin-top: 14px;
}
.inputStyle {
    width: 100%;
    border: none;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
}